// Bootstrap variables overrides
$body-bg: #fff;
$body-color: #111;
$border-radius: 0.18rem;

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Custom styles
.btn-collapse-control[aria-expanded="false"]:after {
  content: "Show more";
}

.btn-collapse-control[aria-expanded="true"] {
  margin-top: 1.5rem;
}

.btn-collapse-control[aria-expanded="true"]:after {
  content: "Show less";
}

.btn-collapse-control[aria-expanded="true"] > i.show-more {
  display: none;
}

.btn-collapse-control[aria-expanded="false"] > i.show-less {
  display: none;
}

.collapse:not(.show) {
  display: block;
  height: 6rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.collapsing {
  height: 6rem;
}

.grecaptcha-badge {
  visibility: hidden;
}
